/* CSS Document */
h3.h3{text-align:center;margin:1em;text-transform:capitalize;font-size:1.7em;}


@font-face{
    font-family: Myfont;
    src : url('ProductSans-Regular.ttf');
}
body{
    	font-family:"Myfont";
}
body::-webkit-scrollbar {
  width: 0.7em;
}
 
body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: white;
}
 
body::-webkit-scrollbar-thumb {
  background-color: yellowgreen;
  outline: 1px solid slategrey;
}

.pro-hed{
  background-image: linear-gradient(to right,#50c150,#7cfbaf, #ffff93);
    padding: 0.5%;
    text-align: center;
    width: 100%;
    padding-top: -24px;
    padding-bottom: -10px;
    font-size: 20px;
 
}
.pro-bot{
  background-image: linear-gradient(to right,#ffff93,#7cfbaf,#50c150);
    padding: 0.5%;
    text-align: center;
    width: 100%;
    padding-top: -24px;
    padding-bottom: -10px;
    font-size: 20px;

}
.col-xs-4{
        margin: 12%;     
}
.prod-me{
    color:black;
    font-size: 16px;
    
}
img{
  padding: 6%;
  max-width: 85%;
  /* height: 31%; */
  cursor: pointer;
  /* margin-top: -100px; */
} */

.col-xs{
  background-color: white;
  width: 28%;
  padding: 30%;
  padding-top: 0px;
  margin-left: 11%;
  margin-top: -37%;
}
.rating{
    color: #FFD200;
    margin-left: -40px;
    font-size: 0.800rem;
    margin-top: -11px;

}
.offers{
    background-color: tomato;
    width: 46px;
    padding: 3px;
    font-size: 9px;
    color: white;
    margin-top: -5px;
    margin-bottom: -21px;
}
.oldpr{
    color:tomato;
}
.newpr{
    font-weight: bold;
 
    margin-left: 67px;
}
.pro-t{
  font-size: 75%;
  font-weight: 600;
  color: red;
}
.pro-nt{
    background-color: linen;
    font-size: 77%;
    width: 75%;
    padding: 0.3% 0.8% 0.3% 3.8%;
}
.btn-pro{
    background-color: white; /* Green */
  
    color: black;
    padding: 12px 88px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border: 4px solid lightgreen;
    border-radius: 3px;
}
.btn-pro:hover {
    background-color: lightgreen;
    color: white;
  }
  .btn-pro1{
    color: black;
    padding: 14px 44px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    margin: 10px 29px;
    transition-duration: 0.4s;
    cursor: pointer;
    border: 4px solid tomato;
    border-radius: 9px;
    background-color: rgb(255, 181, 168) ;
    outline:none;
  }
  .btn-pro1:hover {
    background-color: tomato;
    color: white;
    border-color: lightgrey;
  }
  .btn-pro2{
    color: black;
    padding: 14px 44px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    margin: 10px 29px;
    transition-duration: 0.4s;
    cursor: pointer;
    border: 4px solid lightskyblue;
    border-radius: 9px;
      background-color: rgb(206, 236, 255);
      outline:none;
  }
  .btn-pro2:hover {
    background-color: lightskyblue;
    color: white;
    border-color: lightgrey;
  }
  
  .btn-pro3{
    color: black;
    padding: 14px 44px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    margin: 10px 29px;
    transition-duration: 0.4s;
    cursor: pointer;
    border: 4px solid rgb(184, 96, 255);
    color: white; ;
    border-radius: 9px;
     background-color: rgb(224, 187, 255);
     outline:none;
  }
  .btn-pro3:hover {
    background-color: rgb(184, 96, 255);
    color: white;
    border-color: lightgrey;
  }
  .descr , .abot , .pro-fet{
    margin-left: 12%;
    font-size: 15px;
    font-weight: normal;
    
  }
  h5{
    font-weight: normal;
    font-size: 17px;
    color: #444444;
}
li{
  color: yeloow;
  margin-bottom: 12px;
}

.btnC:hover {
  background-color: lightskyblue;
  color: white;
  border-color: lightgrey;
}
.btnC{
  color: black;
  /* text-align: center; */
  text-decoration: none;
  display: inline;
  font-size: 12px;
  height: 75px;
  width: 75px;
  margin: -36px;
  transition-duration: 0.4s;
  margin-left: 1380px;
  cursor: pointer;
  border: 4px solid lightskyblue;
  border-radius: 9px;
  background-color: rgb(206, 236, 255);
  outline:none;
}

.btnS:hover {
  background-color: tomato;
  color: white;
  border-color: lightgrey;
}
.btnS{
  color: black;
  /* text-align: center; */
  text-decoration: none;
  display: inline;
  font-size: 12px;
  height: 75px;
  width: 75px;
  margin: -36px;
  margin-top: 34px;
  transition-duration: 0.4s;
  margin-left: 10px;
  cursor: pointer;
  border: 4px solid rgb(255, 120, 115);
  border-radius: 9px;
  background-color: rgb(255, 193, 189);
  outline: none;
}
/**
.btnS{
  background-color: #50c150;
  padding: 10px;
  width: 77px;
 
  height: 75px;
  margin-bottom: -58px;
  border: 4px solid lightgray;
  color:white;
  border-radius: 12px;
    }**/