body{
	background-color: lightgreen;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

*{
	font-family: 'Myfont';
	box-sizing: content-box;
}

.signup{
	width: 420px;
    border: 5px solid lightgray;
    padding : 20px;
    background: ghostwhite;
    border-radius: 20px;
    margin-bottom: 40px;
    margin-top: 50px;
    height: 600px;
}
.login{
    border: 5px solid lightgray;
    padding: 4% 4%;
    background: ghostwhite;
    border-radius: 20px;
}

h2 {
	text-align: center;
	margin-bottom: 10px;
}
.menu
{
    background-color: pink;
}
input {
    display: -webkit-box;
    border: 4px solid #ccc;
    width: 89%;
    padding: 2% 3%;
    /* margin: 5px auto; */
    border-radius: 8px;
    /* height: 6px; */
    outline: none;
}
label{

    color: #888;
    font-size: 14px;
    padding: 10px;
    margin-left: -5px;
}

button {
	float: right;
	background: lightgreen;
	padding: 10px 15px;
	color:black;
	border-radius: 5px;
	margin-right: 10px;
	border: none;
}
button:hover{
    opacity: .7;
    cursor: pointer;
}
.error {
   background: #F2DEDE;
   color: #A94442;
   padding: 10px;
   width: 95%;
   border-radius: 5px;
   margin: 20px auto;
}

.success {
   background: #D4EDDA;
   color: #40754C;
   padding: 10px;
   width: 95%;
   border-radius: 5px;
   margin: 20px auto;
}

h1 {
	text-align: center;
	color: #fff;
}

.ca {
	font-size: 14px;
	display: inline-block;
	padding: 10px;
	text-decoration: revert;
    color: blue
}
.ca:hover {
	text-decoration: underline;
} 
body::-webkit-scrollbar {
    width: 0.7em;
  }
   
body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: white;
}
   
body::-webkit-scrollbar-thumb {
    background-color: yellowgreen;
    outline: 1px solid slategrey;
}